body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.nav {
    background-color: #ccc;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#mainContainer {
    background: #444;
}

.sorting {
    margin: 10px 0 0 15px;
}

.questionGroup {
    display: inline-block;
}

.questionTitle {
    display: inline-block;
    margin: 0 50px 0 0;
}

#sortForm {
    display: inline-block;
}

#questionGroup {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border-radius: 4px;
    width: 700px;
    padding: 6px;
}

#questionPane {
    background-color: #ccc;
    border-radius: 4px;
    margin: 10px 6px 6px 0;
}

#questions {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

#userGroup {
    /*position: fixed;*/
    display: inline-block;
    vertical-align: top;
    background-color: #ccc;
    border-radius: 4px;
    width: 600px;
    padding: 6px;
    margin-left: 10px;
}

#userPane {
    border-radius: 4px;
    margin-top: 10px;
}

.innerUser {
    border-radius: 4px;
    background-color: #fff;
    padding: 6px;
}

.welcome p {
    font-size: 20px;
    word-wrap: normal;
}

#createQuestion {
    display: inline-block;
    vertical-align: top;
    width: 575px;
    background-color: #ccc;
    border-radius: 4px;
    padding: 6px;
}

#loginForm {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border-radius: 4px;
    padding: 6px;
    margin-top: 25px;
}

.loginFormInput {
    display: inline-block;
    background-color: #ccc;
    border-radius: 4px;
    padding: 7px;
}

.formInput {
    background-color: #ccc;
    border-radius: 4px;
    padding: 7px;
}

#questionTitle {
    width: 400px;
    height: 25px;
    font-size: 17px;
}

#questionFormText {
    max-width: 450px;
}

.submit {
    font-size: 18px;
  line-height: 18px;
  float: left;
  border: 1;
  border-radius: 8px;
  background-color: #fff;
  display: block;
  margin: 0;
  height: 30px;
  width: 80px;
}

.summary {
    height: 160px;
    width: 675px;
    background-color: #fff;
    border-radius: 4px;
    margin: 6px 20px 10px 6px;
}

#questions a {
    text-decoration: none;
}

.miniViews {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
    height: 50px;
    min-width: 30px;
    font-size: 15px;
    margin: 15px 20px 15px 10px;
    padding: 5px 5px 6px 5px;
    right: 50%;
}

.questionSummary {
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
}

.intro {
    display: block;
}

.questionText {
    max-width: 450px;
}

.viewsText {
    margin: 6px;
    font-size: 15px;
}

.viewsCount {
    align-content: center;
    margin: 5px;
    font-size: 18px;
}

.extraInfo {
    height: 60px;
    margin-bottom: 5px;
}

.keywords {
    vertical-align: baseline;
    height: 40px;
    width: 500px;
    margin-top: 2px;
    padding: 0 8px 0 8px;
}

.keywordItem {
    display: inline-block;
    background-color: #00afaf;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    font-size: 17px;
}

.postDate {
    display: inline-block;
    float: right;
    margin-right: 6px;
    padding-bottom: 3px;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  /*.nav li {
    display: inline-block;
    margin-right: -4px;
  }*/

  /* Options 2 - Float */
  .nav li {
    float: left;
  }

  #navContainer {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    padding-left: 60px;
  }

  .nav {
    background-color: #444;
  }

}

.hello {
    position: absolute;
    left: 775px;
    float: right;
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    color: black;
    background-color: #ccc;
    padding: 0 25px 0 25px;
}

.hello a {
    color: black;
}

.home {
    float: left;
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    background-color: #fff;
    padding: 0 25px 0 25px;
}

.profile {
    position: absolute;
    left: 1075px;
    float: right;
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    color: #ccc;
    background-color: #444;
}

.logout {
    position: absolute;
    left: 1175px;
    float: right;
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    color: #ccc;
    background-color: #444;
}

#form_header{
  text-align: center;
}

/*#div_user_form {
  border: 10px;
  border-style: double;
  padding-left: 500px;
}*/

#register_form {
  border: 10px;
  border-style: double;
  padding-left: 500px;
  width: auto;

}
