{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stackunderflow/style.css' %}" />
    </head>
    <body id='home'>

      <header>
        <div class="nav">
          <ul>
            <li class="home"><a class="active" href="#">Home</a></li>
            {% if is_authenticated %}
            <li class="account"><a href="/account/profile/">Account</a></li>
            {% else %}
            <li class="login"><a href="#">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </header>

      <div class="sorting">
        <select id="sort" name="sort">
            <option value="title">Title</option>
            <option value="created">Created</option>
            <option value="-views">Popular</option>
        </select>
      </div>

      <div id="questions">

      </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="{% static "stackunderflow/moment.js" %}"></script>
        <script src="{% static "stackunderflow/home.js" %}"></script>

    </body>
</html>
