{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stackunderflow/style.css' %}" />
    </head>

    <body id='home'>

        <header>
            <div class="nav">
                <div id='navContainer'>
                    <div class="home"><a class="active" href="">Home</a></div>
                {% if user.is_authenticated %}
                    <div class="logout"><a href="/account/logout">Logout</a></div>
                    <div class="profile"><a href="/account/profile/{{user.id}}">Profile</a></div>
                    <div class="hello">Hello, {{ user.username }}!</div>


                </div>

                {% else %}
                    <div class="hello"><a href="/account/create">Welcome</a></li>
                {% endif %}
            </div>
            </div>
        </header>

        <div id="mainContainer">
            <div id="questionGroup">
                <div id="questionPane">
                    <div class="sorting">
                        <div class="questionTitle"><u><font size=7>Questions List</font></u></div>
                        <form id="sortForm" action="home/" method="get">
                            {% csrf_token %}
                            <label for=""><font size=5>Sort by:</font></label>
                            <select id="sortForm" name="sort">
                                <option value="title">Title</option>
                                <option value="created">Created</option>
                                <option value="-views">Popular</option>
                            </select>
                            <noscript>
                                <input type="submit" name="sort" value="Sort Questions" />
                            </noscript>
                        </form>
                    </div>

                    <div id="questions">
                        {% for question in questions %}
                        <div class="summary">
                            <div class="info">
                                <div class="miniViews">
                                    <div class="viewsCount">{{ question.views }}</div>
                                    <div class="viewsText">Views</div>
                                </div>
                                <div class='questionSummary'>
                                    <div class='intro'>
                                        <b><a href="/account/profile/{{question.creator.id}}">{{question.creator}}</a></b> asked about
                                    </div>
                                    <a href="/question/{{ question.id }}">

                                    <div class='questionTitle'><b>{{question.title}}</b></div>
                                    <div class='questionText'>>>{{question.text|slice:":100"}} ...</div>
                                </a>
                                </div>
                            </div>
                            <div class="extraInfo">
                                <div class="keywords">
                                    {% for word in question.keywords.all %}
                                    <div class="keywordItem">
                                        {{ word.keyword }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class='postDate'>{{question.created}}</div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id='userGroup'>
                <div id="userPane">
                    <div class="innerUser">

                    {% if user.is_authenticated %}

                        <div class="welcome">
                            <p>Welcome back! You currently have <b>{{ user.owner.score }} points</b>. Asking and answering questions earns you more points, so get to it!
                        </div>

                        <div id="createQuestion">
                            <form id="questionForm" action="." method="post">
                            {% csrf_token %}
                                <legend>
                                    <font size=7><u>Submit a new question</u></font>
                                </legend>
                                <div class="formInput">
                                    <label for="">Title:</label>
                                    <br>
                                    <input id='questionTitle' type="text" name="title" value="" required=True maxlength="50">
                                </div>
                                <div class="formInput">
                                    <label for="">Question:</label>
                                    <br>
                                    <textarea id='questionFormText' form='questionForm' name="text" cols="100" rows=20 required=True></textarea>
                                </div>
                                <div class="formInput">
                                    <label for="">Keywords:</label>
                                    <br>
                                    {% for word in form.keywords %}
                                            {{ word }}&nbsp;&nbsp;
                                        {% if forloop.counter == 5 or forloop.counter == 10 %}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <input class="submit" type="submit" value="Submit">
                            </form>

                        {% else %}
                        <div class="welcome">
                            <p>Welcome! You aren't currently signed in, so you can't ask any questions. Feel free to look around, but when you feel like jumping in the login is just below.</p>
                            <p>Not a member yet? Follow <a href="/account/create">this link to register!</a></p>
                        </div>

                        <div id="loginForm">
                            <form class="login" action="." method="post">
                                {% csrf_token %}
                                <div class="loginFormInput">
                                    <label for="">Username:</label>
                                    <input type="text" name="username" value="">
                                </div>
                                <div class="loginFormInput">
                                    <label for="">Password:</label>
                                    <input type="password" name="password" value="">
                                </div>
                                <input type="submit" class="loginFormInput" value="Login">
                            </form>
                        </div>
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="{% static "stackunderflow/moment.js" %}"></script>
        <script src="{% static "stackunderflow/home.js" %}"></script>

    </body>
</html>
