<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question</title>
  </head>
  <body>
    {% for question in given_question %}
    <ol>
      <h1>
        Question: {{question.title}}
      </h1>
      Question Tags: {{question.keywords}}
      <div>
      Asked By: {{question.creator}}
      <br>
      Created on: {{question.created}}
      <br>
      Number of Views: {{question.views}}
      </div>
      <br>
      <br>
      Query: {{question.text}}
      <br>
      <br>
      <br>
      <br>
      Answers:
      <li>
        {{question.answer}}
      </li>
    </ol>
    {% endfor %}
  </body>
</html>
